#menu {
    background-color: #800020;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#menuItems{
    list-style-type: none;
    margin: 4%;
    float: right;
    text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

#body {

    background: #e6e9e9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    width: 70%;
    padding: 4em 2em 4em;
}

#whiteText {
    color: white;
}

#block {
    padding: 20px;
    display: none;
    font-size: 1.5vw;
}

#subtitles {
    font-style: italic;
    text-align: left;
}

#headers {
    color: #800020;
}

#bodyHeaders {
    color: black;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 2.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menuItems:hover {
    text-decoration: none;
    background-color: black;
}

a:link{
    text-decoration: none;
}

footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    list-style-type: none;
    margin:2%;
    margin-left: -2%
}

#quotes {
    font-style: italic;
}

#pics {
    width: 95%;
}

#profilePic {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#bodyContent {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    padding-bottom: 3%;
}

tr:nth-child(odd) {
    background-color: white;
}
